<div>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Amazing</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Producto <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="mantenimientoProducto">Mantenmiento Producto</a></li>
          <li><a href="#">Agregar Producto</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categor&iacute;a <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Mantenmiento Categor&iacute;a</a></li>
          <li><a href="#">Agregar Categor&iacute;a</a></li>
        </ul>
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span>
              <strong>Cerrar sesion</strong>
              <span class="glyphicon glyphicon-chevron-down"></span>
          </a>
         
      </li>
  </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Navbar With Dropdown</h3>
  <p>This example adds a dropdown menu for the "Page 1" button in the navigation bar.</p>
</div>

</body>


</div>