<div>
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Amazing</a>
    </div>
    <ul class="nav navbar-nav" id="navPrincipal">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Producto <span class="caret"></span></a>
        <ul   class="dropdown-menu">
          <li><a href="/mantenimientoProducto">Mantenmiento Producto</a></li>
          <li><a href="/agregarProducto">Agregar Producto</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categor&iacute;a <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/mantenimientoCategoria">Mantenmiento Categor&iacute;a</a></li>
          <li><a href="/agregarCategoria">Agregar Categor&iacute;a</a></li>
        </ul>
     </li>

     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Reportes <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/reporteTopVendidosCategoria">Productos m&aacute;s vendidos por categor&iacute;a</a></li>
        <li><a href="/reporteTotalVendidos">Listado total de ventas </a></li>
      </ul>
   </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
          <a href="/home" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span>
              <strong>Cerrar sesion</strong>
              <span class="glyphicon glyphicon-chevron-down"></span>
          </a>
         
      </li>
  </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Ventana administrativas</h3>

</div>

</body>


</div>