body{
	font-size : 14px;
	background-color: #f2f6f9;
  }
  
  ul{
	list-style-type: none;
  }
  
  a:hover {
	text-decoration:none;
  }
  
  
  /*-----------------------------------
	Navbar 
  -----------------------------------*/
  
  .minicart{
	background:url(../carritocompras/images/sprite.png);
	background-position: -156px 11px;
	background-repeat:no-repeat;
	width: 40px;
	height: 50px;
	padding-right: 32px;
  }
  
  .navbar{
	background-color: #4ea6bc;
	padding: 15px ;
	border-radius: 0;
	margin: 0;
  }
  
  .navbar-brand{
	color: #fff;
	font-family: Open Sans, sans-serif;
	padding-left: 32px;
  }
  
  .navbar-brand:hover{
	color: #fff;
  }
  
  /*-----------------------------------
	Breadcrumb 
  -----------------------------------*/
  
  .breadcrumb > .active a{
	color: #468595;
	font-weight: bold;
	text-transform: uppercase;
  }
  
  .breadcrumb li a{
	color :#b3d4dc;
	font-weight: bold;
	text-transform: uppercase;
  }
  
  .breadcrumb>li+li:before {
	content: "\00BB";
  }
  
  .breadcrumb{
	margin-bottom: 100px;
	background-color: #ffffff;
  }
  
  .breadcrumbBox{
	background-color: #ffffff;
	height: 100px;
	margin-bottom: 100px;
	padding-top: 32px;
  }
  
  /*----------------------------------- 
	Main
  -----------------------------------*/
  
  .container.text-center{
	padding: 0 32px;
  }
  
  /*-----------------------------------  
	Logo and description 
  ----------------------------------- */
  
  
  .col-md-5.col-sm-12{
	padding: 0;
  }
  
  .col-md-5.col-sm-12 h1{
	color: #595c5f;
	font-size: 24px;
	font-weight: bold;
	margin-bottom:30px;
	text-align: left;
  }
  
  .col-md-5.col-sm-12 p{
	color: #898e92;
	line-height: 1.5;
	max-width: 400px;
	text-align: justify;
  }
  
  .bigcart{
	background:url(../carritocompras/images/sprite.png);
	background-position: 0px 11px;
	background-repeat:no-repeat;
	width: 155px;
	height: 120px;
	margin:0 0 40px 60px;
  }
  
  
  /*-----------------------------------  
	Cart items list
  -----------------------------------*/
  
  .col-md-9.col-sm-12{
	padding-left: 50px ;
	margin-bottom: 72px;
	/*padding-bottom: 50px;*/
  }
  
  .row{
	box-shadow: 0 1px 0 #9fa2a3f3;
	padding-bottom :0;
	padding-left: 15px;
	background-color: #ffffff;
	margin-bottom: 11px; /*Espacio entre elementos de la lista */
  }
  
  .row span{
	padding: 0 0 0 0; /* Separacion entre los elementos de las columnas*/ 
  }
  
  /* Column Captions */
  
  .columnCaptions{
	color: #000000; /* Color de la letra*/
	font-size:12px; /* Tamano de la fuente de la letra*/
	text-transform: uppercase;
	padding: 0;
	box-shadow: 0 0 0;
	background-color: #9ea2a5;
	margin-top: 50px;
  }
  
  
  .columnCaptions span:first-child{
	padding-left:50px;/*Margen izquierdo del primer elemento del encabezados de las columnas */
  }
  
  
  .columnCaptions span{/*Margen entre elementos de los encabezados de las columnas*/
	padding-left: 50px;
	padding-right: 90px; 
	padding-top: 0;
	padding-bottom: 0;
  }
  
  .columnCaptions span:last-child{
	float: right;
	padding-right: 10px;
  }
  
  
  /* Items */
  
  .quantity{  
	color: #4ea6bc; /* Color de la letra */
	font-size :18px; /* Tamano de la letra*/
	font-weight: bold;
	float: left;
	margin-left: 40px;
  }
  
  
  
  .itemName{  
	color: #727578;
	font-size :16px;
	font-weight: bold;
	margin-left: 115px;
  }
  
  .priceunitario{  
	color: #727578;
	font-size :16px;
	font-weight: bold;
	margin-left: 93px;
  }
  
  /*.price{
	color: #f06953;
	font-size :18px;
	font-weight: bold;
	float: right;
  }*/
  
  .price{  
	color: #196bbd;
	font-size :16px;
	font-weight: bold;
	float: right;
	margin-right: 295px;
  }
  
  
  
  /* Totals */
  
  .totals{
	background-color: #f2f6f9;
  }
  
  .totals span{
	padding: 0 0 0 0;
	/*padding: 40px 15px 40px 0;*/
  }
  
  .totals .itemName{
	float: left;
	margin-top: 5px;
	margin-left: 35px;
  }
  
  
  .totals .price{
	float: left;
	margin-top: 5px;
	margin-left: 25px;
  }
  
  
  .totals .order{
	float: right;
	margin-right: 5px;
	padding: 0;
	margin-top: 15px; 
	padding-left: 5px;
	cursor: pointer;
  }
  .order a{
	background-color: #f08573;
	color: #fbfffa;
	font-weight: bold;
	border-radius: 2px;
	padding: 20px 30px;
  }
  
  
  /* Popovers */
  
  .popbtn{
	background-color: #e6edf3;
	margin-left: 25px;
	height: 63px;
	width: 40px;
	padding: 32px 0 0 14px !important;
	float: right;
	cursor: pointer;
  }
  
  .arrow{
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #858e97;
  }
  
  .popover{
	border-radius: 3px;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
	border: 0;
	background-color: #ffffff;
  }
  
  .popover.bottom{
	margin-top: -9px;
  }
  
  /*.glyphicon{
	width: 24px;
	font-size: 24px;
	padding: 0;
  }*/
  
  .glyphicon{
	margin-left: 0;
	height: 63px;
	width: 40px;
	font-size: 24px;
	padding: 0;
	float: right;
	cursor: pointer;
  }
  
  .glyphicon-pencil{
	color: #858e97;
	margin: 7px 12px 7px 10px;
  }
  
  .glyphicon-remove{
	color: #f06953;
	margin-right: 10px;
  }
  
  /*.glyphicon-remove{
	color: #f06953;
	float: right;
	cursor: pointer;
  }*/