<div class="container row">
    <h1>About</h1>
</div>
<hr>
<div class="about-container row container">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3>About Us</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo et libero impedit possimus excepturi, recusandae pariatur non expedita voluptas repudiandae. Neque, facere? Hic unde fugit libero quisquam doloremque vero quasi.</p>
        <h3>How we work</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo et libero impedit possimus excepturi, recusandae pariatur non expedita voluptas repudiandae. Neque, facere? Hic unde fugit libero quisquam doloremque vero quasi.</p>
        <h3>Contact</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo et libero impedit possimus excepturi, recusandae pariatur non expedita voluptas repudiandae. Neque, facere? Hic unde fugit libero quisquam doloremque vero quasi.</p>
    </div>
    <div class="col-md-2"></div>
</div>

