<div>
  <div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h1 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT AMAZING!</span></h1>
      <p>Amazing fue fundado por los programadores Allan Solano y Julio Segura</p>
      <p>Nuestro objetivo es crear una pagina de compras ecommerce que se ajuste a las necesidades del cliente</p>
      <div class="w3-panel w3-leftbar w3-light-grey">
        <p><i>Ofrecemos productos de categor&iacute;a tecnol&oacute;gica esperando aumentar el cat&aacute;talogo con el tiempo.</i></p>
      </div>
      <img src="/src/assets/amazingdeals-logo.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
      <p><strong>Disponibilidad</strong> 24 horas del d&iacute;a</p>
      <p><strong>Dirrecci&oacute;n:</strong> Cartago, Costa Rica</p>
    </div>
  </div>
</div>