<div class="section" id="page">
    <!-- Defining the #page section with the section tag -->

    <div class="header">
        <!-- Defining the header section of the page with the appropriate tag -->

        <h1>Amazing</h1>
        <h3>All to you want</h3>

        <div class="nav clear">
            <!-- The nav link semantically marks your main site navigation -->
            <ul>
                <li>
                    <a href="#article1">More products of this caterogory</a>
                </li>
                <li>
                    <a href="#article2">Add of car</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="section" id="articles">
        <!-- A new section with the articles -->

        <!-- Article 1 start -->

        <div class="line"></div>
        <!-- Dividing line -->

        <div class="article" id="article1">
            <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
            <h2>Computadora</h2>

            <div class="line"></div>

            <div class="articleBody clear">

                <div class="figure">
                    <!-- The figure tag marks data (usually an image) that is part of the article -->
                    <a href="http://tutorialzine.com/2010/02/photo-shoot-css-jquery/">
                        <img src="/src/assets/computadora.png" width="600" height="300" alt="Computadora" />
                    </a>
                </div>

                <p> This computer is very small and its componets are of last generation </p>
                <p>Especification: 
                        Ram: 16GB
                        Procesasor: Intel Core i7
                        Video memory: 4GB </p>
            </div>
        </div>

        <!-- Article 1 end -->


    </div>

    <div class="footer">
        <!-- Marking the footer section -->

        <div class="line"></div>

        <p>Copyright 2010 - YourSite.com</p>
        <!-- Change the copyright notice -->

        <a href="#" class="up">Go UP</a>
        <a href="http://tutorialzine.com/2010/02/free-xhtml-css3-website-template/" class="by">Template by Tutorialzine</a>


    </div>

</div>