<div class="container">
  <h2>Modificar Producto</h2>
  <h3>Producto escogido: {{ selectedProduct }}</h3>
  <form class="form-horizontal"  (ngSubmit)= "onSubmit(contactForm);" #contactForm="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="nombre">Nombre:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" [(ngModel)]="nombre" name="nombre" placeholder="Nombre" >
      </div>
    </div>
 
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Precio</label>
      <div class="col-sm-5">          
        <input type="number" class="form-control" [(ngModel)]="precio" name="precio" placeholder="Precio">
      </div>  
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">M&iacute;nimo existencias</label>
      <div class="col-sm-5">          
        <input type="number" class="form-control"  [(ngModel)]="minimoExistencias" name="minimoExistencias" placeholder="M&iacute;nimo Existencias">
      </div>  
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Descripcion</label>
      <div class="col-sm-5">        
      <textarea style="resize: none;" class="form-control" rows="5" [(ngModel)]="descripcion" name="descripcion"></textarea>
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-5">
        <button  class="form-horizontal btn btn-default" type="submit" >Modificar</button>
      </div>
    </div>
  </form>
</div>