<div class="container">
  <h2>Mantenimiento de categor&iacute;a</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>IDCategor&iacute;a</th>
        <th>Nombre</th>
        <th>Modificar</th>
        <th>Suprimir</th>


      </tr>
      <tr *ngFor="let item of categorias">
        <td style="vertical-align:middle" >{{item.idCategoria}}</td>
        <td style="vertical-align:middle">{{item.descripcion}}</td>
        <td><a (click)="modificarDatos(item.idCategoria)">Modificar</a>
          <td><a (click)="suprimirDatos(item.idCategoria)">Suprimir</a>
          
            
      </tr>
    </thead>

  </table>
  <a href="/administrativo"class="btn btn-primary btn-sm"><< Regresar</a>
</div>