<div class="container">
    <h2>Modificar Categor&iacute;a</h2>
    <h3>Categor&iacute;a escogida: {{ selectedProduct }}</h3>
    <form class="form-horizontal"  (ngSubmit)= "onSubmit(contactForm);" #contactForm="ngForm">
     
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Descripci&oacute;n</label>
        <div class="col-sm-5">        
        <textarea style="resize: none;" class="form-control" rows="5" [(ngModel)]="descripcion" name="descripcion"></textarea>
        </div>
      </div>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-5">
          <button  class="form-horizontal btn btn-default" type="submit" >Modificar</button>
        </div>
      </div>
    </form>
    <div *ngIf="getEstado()==true" id="confirmacion" class="alert alert-success" >
        <strong>Exito!</strong><a href="/mantenimientoCategoria">Regresar</a>
      </div>
  </div>
