<div class="container row">
    home works!
</div>
<div class="bg-info p-a-1">
    Selected Product: {{ selectedProduct || '(None)' }}
</div>
<table class="table table-sm table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Category</th>
        <th>Total</th>
    </tr>
    <tr *ngFor="let item of getPeliculas()" [class.bg-info]="isSelected(item)">
        <td style="vertical-align:middle" (mouseover)="selectedProduct=item.titulo">{{item.codPelicula}}</td>
        <td style="vertical-align:middle">{{item.titulo}}</td>
        <td style="vertical-align:middle">{{item.genero.nombreGenero}}</td>
        <td style="vertical-align:middle">
            {{item.totalPeliculas }}
        </td>
    </tr>
</table>
<div class="form-group">
    <label>Título de la cintas videorent rama nueva</label>
    <input class="form-control" [(ngModel)]="titulo"  />
</div>
<div class="form-group">
    <label>Género</label>
    <input class="form-control" [(ngModel)]="nombreGenero" />
</div>
<button class="btn btn-primary" (click)="getPeliculasByTittleAndGenre()">Buscar</button>;